<div
  class="border-round border-1 surface-border surface-card p-5"
  [@routerTransitionSlideUp]
>
  <h3 class="text-xl text-color-secondary">Practitioner Management</h3>

  <p-toolbar styleClass="mb-4 gap-2">
    <ng-template pTemplate="left">
      <!-- <button
        pButton
        pRipple
        label="New"
        icon="pi pi-plus"
        class="p-button-primary mr-2"
        (click)="openNew()"
      ></button> -->
      <!-- <button
        pButton
        pRipple
        [label]="Delete"
        icon="pi pi-trash"
        class="p-button-danger"
        (click)="deleteSelectedProducts()"
        [disabled]="!selectedProducts || !selectedProducts.length"
      ></button> -->
    </ng-template>

    <ng-template pTemplate="right">
      <!-- <p-fileUpload
        mode="basic"
        accept="image/*"
        [maxFileSize]="1000000"
        label="Import"
        chooseLabel="Import"
        class="mr-2 inline-block"
      ></p-fileUpload> -->
      <button
        pButton
        pRipple
        label="Export"
        icon="pi pi-upload"
        class="p-button-help"
        [title]="'Export'"
      ></button>
    </ng-template>
  </p-toolbar>

  <!-- Datatable -->
  <p-contextMenu #cm [model]="contextMenuItems"></p-contextMenu>
  <p-table
    #dt
    [value]="practitioners"
    [rows]="10"
    [paginator]="true"
    [globalFilterFields]="[
      'email',
      'firstName',
      'lastName',
      'medicalLicenseNumber',
      'account.verified',
      'account.approvalStatus',
      'account.accountStatus'
    ]"
    [tableStyle]="{ 'min-width': '100%' }"
    [styleClass]="'w-full'"
    [(selection)]="selectedPractitioners"
    [rowHover]="true"
    dataKey="email"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[10, 25, 50]"
    [loading]="updatingPractitioner"
    [(contextMenuSelection)]="selectedPractitioner"
    [contextMenu]="cm"
  >
    <ng-template pTemplate="caption">
      <div class="flex align-items-center justify-content-between">
        <h5 class="m-0">Practitioners</h5>
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input
            pInputText
            type="text"
            (input)="onInput($event)"
            placeholder="Search..."
          />
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 4rem">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th pSortableColumn="email" style="min-width: 15rem">
          Email <p-sortIcon field="email"></p-sortIcon>
        </th>
        <th pSortableColumn="firstName">
          First Name <p-sortIcon field="firstName"></p-sortIcon>
        </th>
        <th pSortableColumn="lastName" style="min-width: 10rem">
          Last Name <p-sortIcon field="lastName"></p-sortIcon>
        </th>
        <th pSortableColumn="medicalLicenseNumber" style="min-width: 10rem">
          Medical License Number
          <p-sortIcon field="medicalLicenseNumber"></p-sortIcon>
        </th>
        <th pSortableColumn="verified">
          Verified <p-sortIcon field="verified"></p-sortIcon>
        </th>
        <th pSortableColumn="approvalStatus" style="min-width: 10rem">
          Approval Status <p-sortIcon field="approvalStatus"></p-sortIcon>
        </th>
        <th pSortableColumn="active" style="min-width: 10rem">
          Account Status <p-sortIcon field="active"></p-sortIcon>
        </th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-practitioner>
      <tr [pContextMenuRow]="practitioner">
        <td>
          <p-tableCheckbox [value]="selectedPractitioner"></p-tableCheckbox>
        </td>
        <td>{{ practitioner.email }}</td>
        <td>
          {{ practitioner.firstName }}
        </td>
        <td>{{ practitioner.lastName }}</td>
        <td>{{ practitioner.medicalLicenseNumber }}</td>
        <td>
          <p-tag
            [value]="practitioner.account.verified"
            [severity]="getSeverityVerified(practitioner.account.verified)"
          ></p-tag>
        </td>
        <td>
          <p-tag
            [value]="practitioner.account.approvalStatus"
            [severity]="
              getSeverityApproval(practitioner.account.approvalStatus)
            "
          ></p-tag>
        </td>

        <td>
          <p-tag
            [value]="practitioner.account.accountStatus"
            [severity]="
              getSeverityAccountStatus(practitioner.account.accountStatus)
            "
          ></p-tag>
        </td>

        <td>
          <div class="flex gap-2">
            <button
              pButton
              pRipple
              icon="pi pi-pencil"
              class="p-button-rounded p-button-help mr-2"
              (click)="openUpdatePractitionerDialog(practitioner)"
              pTooltip="Update Practitioner"
            ></button>
            <button
              pButton
              pRipple
              icon="pi pi-trash"
              class="p-button-rounded p-button-danger"
              (click)="deletePractitioner(practitioner)"
              pTooltip="Delete Practitioner"
            ></button>
          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="flex align-items-center justify-content-between">
        In total there are
        {{ practitioners ? practitioners.length : 0 }} practitioners.
      </div>
    </ng-template>
  </p-table>
</div>

<!-- Update Form Dialog -->
<p-dialog
  [(visible)]="practitionerDialogVisible"
  [modal]="true"
  [appendTo]="'body'"
>
  <ng-template pTemplate="header">
    <h3>Update Practitioner</h3>
  </ng-template>
  <ng-template pTemplate="content">
    <div class="flex">
      <form [formGroup]="practitionerForm" class="flex flex-column gap-3">
        <!-- Email -->
        <div class="flex flex-column gap-3">
          <label for="email">Email</label>
          <input type="text" pInputText formControlName="email" />
          @if (f['email'].hasError('required') && (f['email'].touched ||
          isFormSubmitted)){
          <small class="text-red-500">This field is required</small>
          }
        </div>

        <!-- First and last Names -->
        <div class="flex gap-2">
          <div class="flex flex-column gap-3 w-6">
            <label for="firstName">First Name</label>
            <input type="text" pInputText formControlName="firstName" />
            @if (f['firstName'].hasError('required') && (f['firstName'].touched
            || isFormSubmitted)){
            <small class="text-red-500">This field is required</small>
            }
          </div>
          <div class="flex flex-column gap-3 w-6">
            <label for="lastName">Last Name</label>
            <input type="text" pInputText formControlName="lastName" />
            @if (f['lastName'].hasError('required') && (f['lastName'].touched ||
            isFormSubmitted)){
            <small class="text-red-500">This field is required</small>
            }
          </div>
        </div>

        <div class="flex gap-2">
          <!-- ID Number -->
          <div class="flex flex-column gap-2 w-6">
            <label for="idNumber">ID Number</label>
            <p-inputMask
              mask="99-9999999-a-99"
              placeholder="00-0000000-A-00"
              id="idNumber"
              formControlName="idNumber"
              styleClass="w-full"
            ></p-inputMask>
            @if(f['idNumber'].hasError('required') && (f['idNumber'].touched ||
            isFormSubmitted)){
            <small class="text-red-500">This field is required</small>
            }
          </div>

          <!-- Medical License Number -->
          <div class="flex flex-column gap-2 w-6">
            <label for="medicalLicenseNumber">Medical License Number</label>
            <input
              type="text"
              pInputText
              formControlName="medicalLicenseNumber"
            />
          </div>
        </div>

        <div class="flex align-items-center gap-2">
          <!-- Date of Birth -->
          <div class="flex flex-column gap-2 w-6">
            <label for="dob">Date of Birth</label>
            <p-calendar
              id="dob"
              formControlName="dob"
              [showIcon]="true"
              [readonlyInput]="false"
              [monthNavigator]="true"
              [yearNavigator]="true"
              styleClass="w-full"
              [appendTo]="'body'"
              dateFormat="dd-mm-yy"
              [placeholder]="'DD-MM-YYYY'"
            ></p-calendar>
          </div>

          <!-- PHone Number -->
          <div class="flex flex-column gap-2 w-6">
            <label for="phoneNumber">Phone Number</label>
            <input type="text" pInputText formControlName="phoneNumber" />
            @if(f['phoneNumber'].hasError('required') &&
            (f['phoneNumber'].touched || isFormSubmitted)){
            <small class="text-red-500">This field is required</small>
            }
          </div>
        </div>
      </form>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <div class="flex justify-content-between">
      <button
        pButton
        pRipple
        label="Cancel"
        class="p-button-secondary"
        (click)="closeUpdatePractitionerDialog()"
      ></button>
      <button
        pButton
        pRipple
        label="Save"
        class="p-button-success"
        (click)="updatePractitioner()"
        [loading]="updatingPractitioner"
      ></button>
    </div>
  </ng-template>
</p-dialog>

<!-- Approval Form Dialog -->
<p-dialog
  [(visible)]="approvalDialogVisible"
  [modal]="true"
  [appendTo]="'body'"
  styleClass="w-4"
>
  <ng-template pTemplate="header">
    <h3>Approve/Reject Practitioner</h3>
  </ng-template>
  <ng-template pTemplate="content">
    <div class="flex">
      <form [formGroup]="approvalForm" class="flex flex-column gap-3 w-full">
        <div class="flex flex-column gap-2">
          <!-- Approval Status -->
          <div class="flex flex-column gap-2 w-full">
            <label for="approvalStatus">Approval Status</label>
            <p-dropdown
              [options]="approvalStatuses"
              formControlName="approvalStatus"
              optionLabel="label"
              optionValue="value"
              placeholder="Select an Approval Status"
              [appendTo]="'body'"
              styleClass="w-full"
              (onChange)="onApprovalStatusChange()"
            ></p-dropdown>
            @if (a['approvalStatus'].hasError('required') &&
            (a['approvalStatus'].touched || isFormSubmitted)){
            <small class="text-red-500">This field is required</small>
            }
          </div>

          <!-- Rejection Reason -->
          <div class="flex flex-column gap-2 w-full">
            @if(rejectionReasonVisible){
            <div class="flex flex-column gap-2 w-full">
              <label for="rejectionReason">Rejection Reason</label>
              <textarea
                pInputTextarea
                formControlName="rejectionReason"
                rows="10"
              ></textarea>
              @if (a['rejectionReason'].hasError('required') &&
              (a['rejectionReason'].touched || isFormSubmitted)){
              <small class="text-red-500">This field is required</small>
              }
            </div>
            }
          </div>
        </div>
      </form>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <div class="flex justify-content-between">
      <button
        pButton
        pRipple
        label="Cancel"
        class="p-button-secondary"
        (click)="closeApprovalDialog()"
      ></button>
      <button
        pButton
        pRipple
        label="Save"
        class="p-button-success"
        (click)="approvePractitioner()"
        [loading]="approvingPractitioner"
      ></button>
    </div>
  </ng-template>
</p-dialog>
