.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 18px;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 17px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  width: 100%;
}

/* Primary Button */
.btn-primary {
  background-color: var(--Primary-Turquoise-500, #137EA0);
  color: var(--Neutral-Gray-50, #F8FAFC);

  &:active {
    background-color: var(--Primary-Turquoise-700, #0A5B75);
  }
}

/* Secondary Button */
.btn-secondary {
  background-color: var(--Secondary-500, #F7CE46);
  color: var(--Neutral-Gray-900, #0F172A);

  &:active {
    background-color: var(--Secondary-600, #C6A538);
  }
}

/* Tertiary Button */
.btn-tertiary {
  background-color: #FFF;
  color: var(--Primary-Turquoise-500, #137EA0);
  border: 1px solid var(--Primary-Turquoise-500, #137EA0);

  &:active {
    border: 1px solid var(--Primary-Turquoise-200, #AACAD5);
    background-color: var(--Primary-Turquoise-50, #EBF2F4);
    color: var(--Primary-Turquoise-300, #87C1D4);
  }
}

/* Small Button */
.btn-small {
  padding: 8px 12px;
  /* Caption / Semi Bold */
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
  /* 150% */
}

/* Large Button */
.btn-large {
  padding: 14px 20px;
  /* Paragraph/P3/Semi Bold */
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  /* 122.222% */
}

/* Disabled styles */
.btn:disabled,
.btn-primary:disabled,
.btn-secondary:disabled {
  background: var(--Neutral-Gray-200, #E2E8F0);
  color: var(--Neutral-Gray-400, #94A3B8);
}

/* Disabled styles */

.btn-tertiary:disabled {
  border: 1px solid var(--Neutral-Gray-400, #94A3B8);
  background: var(--Neutral-Gray-100, #F1F5F9);
}