.login {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 600px;
  height: auto;
  background-color: #EBF2F4;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

@media (min-width: 479px) {
  .login {
    padding-top: 100px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 14px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
  }
}

.login-logo-wrapper {
  width: 200px;
  height: auto;
  object-fit: fill;
}

@media (max-width: 479px) {
  .login-logo-wrapper {
    width: 160px;
    height: auto;
    object-fit: fill;
  }
}

.login-logo {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.login-form {
  width: 600px;
  margin-top: 38px;
}

@media (max-width: 479px) {
  .login-form {
    margin-top: 28px;
    width: 100%;
  }
}

.login-form-heading {
  font-family: Inter;
  font-size: 19px;
  font-style: normal;
  font-weight: 600;
  line-height: 23px;
  /* 121.053% */
  letter-spacing: -0.38px;
  color: #1E293B;
  margin-bottom: 16px;
  ;
}