<div class="step-3">

  <div class="row mt-3">
    <div class="col-3">

      <div class="form-row mt-4">
        <div class="form-group">
          <label for="countryCode">Code</label>
          <div class="input-group">
            <input type="text" class="form-control" id="countryCode" placeholder="+263" aria-label="Last name"
              aria-describedby="basic-addon2" [(ngModel)]="countryCode">
          </div>
          <div class="text-danger">{{countryCodeError}}</div>
        </div>
      </div>

    </div>
    <div class="col-9">

      <div class="form-row mt-4">
        <div class="form-group">
          <label for="phoneNumber">Phone Number</label>
          <div class="input-group">
            <input type="text" class="form-control" id="phoneNumber" placeholder="Phone Number" aria-label="Last name"
              aria-describedby="basic-addon2" [(ngModel)]="phoneNumber">
          </div>
          <div class="text-danger">{{phoneNumberError}}</div>
        </div>
      </div>

    </div>
  </div>

  <div class="row mt-4">
    <div class="col">
      <app-hah-button [buttonClass]="'btn btn-primary'" [buttonText]="'Complete Account'" [type]="'button'"
        (onClicked)="register()"></app-hah-button>
    </div>
  </div>
</div>

<a (click)="previous()" class="back-button">
  <img width="24" height="24" src="assets/images/hah-icon-caret-left.svg" alt="">