<div class="step2">

  <div class="form-row mt-4">
    <div class="form-group">
      <label for="firstName">First Name</label>
      <div class="input-group">
        <input type="text" class="form-control" id="firstName" placeholder="Enter first name" aria-label="First name"
          aria-describedby="basic-addon1" [(ngModel)]="firstName">
      </div>
      <div class="text-danger">{{firstNameError}}</div>
    </div>
  </div>

  <div class="form-row mt-4">
    <div class="form-group">
      <label for="lastName">Last Name</label>
      <div class="input-group">
        <input type="text" class="form-control" id="lastName" placeholder="Enter last name" aria-label="Last name"
          aria-describedby="basic-addon2" [(ngModel)]="lastName">
      </div>
      <div class="text-danger">{{lastNameError}}</div>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col">

      <div class="form-group">
        <label for="selectedDate">Select a date:</label>
        <input id="selectedDate" name="selectedDate" type="date" [(ngModel)]="dob" class="form-control">
      </div>

    </div>

    <div class="col">

      <div class="form-group">
        <label for="gender">Select a Gender:</label>
        <select id="gender" name="gender" [(ngModel)]="gender" class="form-control">
          <option value="male">Male</option>
          <option value="female">Female</option>
          <option value="other">Other</option>
        </select>
      </div>

    </div>
  </div>


  <div class="row mt-4">
    <div class="col">
      <app-hah-button [buttonClass]="'btn btn-primary'" [buttonText]="'Next'" [type]="'button'"
        (onClicked)="nextStep()"></app-hah-button>
    </div>
  </div>

</div>

<a (click)="previous()" class="back-button">
  <img width="24" height="24" src="assets/images/hah-icon-caret-left.svg" alt="">
</a>