<div
  [@routerTransitionSlideUp]
  class="min-h-screen w-full bg-primary-50 p-5 flex flex-column gap-2"
>
  <h2>FAQ</h2>
  <p><strong>Q: What is Lorem Ipsum?</strong></p>
  <p>
    A: Lorem Ipsum is simply dummy text of the printing and typesetting
    industry. Lorem Ipsum has been the industry's standard dummy text ever since
    the 1500s.
  </p>

  <p><strong>Q: Why do we use it?</strong></p>
  <p>
    A: It is a long established fact that a reader will be distracted by the
    readable content of a page when looking at its layout.
  </p>

  <p><strong>Q: Where does it come from?</strong></p>
  <p>
    A: Contrary to popular belief, Lorem Ipsum is not simply random text. It has
    roots in a piece of classical Latin literature from 45 BC, making it over
    2000 years old.
  </p>

  <p><strong>Q: Where can I get some?</strong></p>
  <p>
    A: There are many variations of passages of Lorem Ipsum available, but the
    majority have suffered alteration in some form, by injected humour, or
    randomised words which don't look even slightly believable.
  </p>
</div>
