<div class="nav">
  <a class="nav-items">
    <img class="nav-item-icon" src="assets/images/hah-icon-house.svg" alt="Home nav icon">
  </a>
  <a class="nav-items">
    <img class="nav-item-icon" src="assets/images/hah-icon-user.svg" alt="Home nav icon">
  </a>
  <a class="nav-items">
    <img class="nav-item-icon" src="assets/images/hah-icon-search.svg" alt="Home nav icon">
  </a>
  <a class="nav-items">
    <img class="nav-item-icon" src="assets/images/hah-icon-hamburger.svg" alt="Home nav icon">
  </a>
</div>