.nav {
  background-color: #fff;
}

@media (min-width: 479px) {
  .nav {
    border-radius: 24px 24px 0 0;
    display: flex;
    justify-content: space-between;
    padding: 24px;
  }
}

.nav-items {}

@media (min-width: 479px) {}

.nav-items {
  width: 24px;
  height: 24px;
}

@media (min-width: 479px) {
  .nav-items {
    width: 24px;
    height: 24px;
  }
}