<div
  class="bg-primary-100 flex flex-column gap-5 align-items-center justify-content-center min-h-screen min-w-screen p-5"
>
  <div [@routerTransitionSlideUp] class="flex flex-column gap-3 w-full md:w-4">
    <h1 class="text-3xl font-bold text-primary-900">Reset Password</h1>
    <p class="text-primary-700">
      Enter your new password and confirm to reset your password
    </p>
    <form [formGroup]="passwordResetForm">
      <div class="flex flex-column gap-3">
        <div class="flex flex-column gap-3">
          <label for="newPassword" class="text-primary-900">New Password</label>
          <input
            pInputText
            type="password"
            label="Password"
            placeholder="Type Password"
            formControlName="newPassword"
          />
          @if(f['newPassword'].hasError('required') && ((f['newPassword'].dirty
          || f['newPassword'].touched) || isFormSubmitted)) {
          <small class="text-red-500">Password is required</small>
          } @else if (f['newPassword'].hasError('policy') &&
          (f['newPassword'].touched || isFormSubmitted)){
          <small class="text-red-500">
            Password must contain at least 10 characters.
          </small>
          <small class="text-red-500">
            Including lowercases, UPPERCASEs, numbers and special characters.
            {{ passwordSymbols }}
          </small>
          }
        </div>

        <div class="flex flex-column gap-3">
          <label for="confirmPassword" class="text=primary-900"
            >Confirm Password</label
          >
          <input
            pInputText
            type="password"
            label="Confirm Password"
            placeholder="Confirm Password"
            formControlName="confirmPassword"
          />
          @if(f['confirmPassword'].value !== f['newPassword'].value &&
          ((f['confirmPassword'].dirty || f['confirmPassword'].touched) ||
          isFormSubmitted)){
          <small class="text-red-500">Passwords do not match</small>
          }
        </div>

        <button
          pButton
          type="submit"
          label="Change Password"
          class="w-full"
          [disabled]="passwordResetForm.invalid"
          (click)="resetPassword()"
        ></button>
      </div>
    </form>
  </div>
</div>
