@if(patient?.account?.activationStep !== 3){
<div [@routerTransitionSlideUp] class="flex flex-column gap-2 p-5">
  <p class="font-semibold text-xl text-gray-500 mb-8">
    Welcome to Your Dashboard {{ patient?.email }}
  </p>

  <!-- Steps -->
  <p class="text-base text-gray-500">
    Complete the verification wizard to activate your account and make
    appointments.
  </p>

  <div class="border-1 border-round surface-border surface-card p-5">
    <p-toast></p-toast>
    <p-steps [model]="items" [readonly]="true" [(activeIndex)]="activeIndex">
    </p-steps>
  </div>

  <!-- Step 1: Email Verification -->
  @if(activeIndex === 0) {
  <div class="border-1 border-round surface-border surface-card p-5">
    <!-- Verification Status -->
    <h4>Email Verification Status</h4>

    <p class="text-sm">
      Your email address is @if(patient?.account?.verified){<span
        class="font-bold text-green-500"
        >{{ verificationStatus }}</span
      >.} @else {<span class="font-bold">{{ verificationStatus }}</span
      >.}
    </p>
    @if(!patient?.account?.verified){
    <p class="text-sm">
      An email has been sent to your email address. Please verify your email
      address to continue.
    </p>
    <p class="text-sm">
      If you did not receive the email, click the button below to resend the
      email.
    </p>

    @if(!loading){

    <div class="flex gap-2">
      <p-button
        label="Resend Email"
        (click)="openResendEmailDialog()"
      ></p-button>
      <p-button
        label="Open Email App"
        (click)="openEmailApp()"
        severity="secondary"
      ></p-button>
    </div>
    } @if(loading){
    <div class="flex gap-2 align-items-center">
      <div class="font-semibold">Sending email...</div>
      <p-progressSpinner
        styleClass="w-2rem h-2rem"
        strokeWidth="6"
      ></p-progressSpinner>
    </div>

    } } @if( patient?.account?.verified){
    <p class="text-sm">You can now proceed to the next step.</p>

    } @if(patient?.account?.verified){
    <div class="flex justify-content-end">
      <p-button
        icon="pi pi-chevron-right"
        iconPos="right"
        label="Next"
        (click)="next()"
      ></p-button>
    </div>
    }
  </div>
  }

  <!-- Step 2: ID Verification -->
  @if(activeIndex === 1) {
  <div
    class="border-1 border-round surface-border surface-card p-5 w-full md:w-4"
  >
    <!-- Part 1: ID Details -->
    @if(patient?.account!.activationStep === 1){
    <h4>ID Verification Status</h4>
    <form [formGroup]="patientIdForm" class="flex flex-column gap-3">
      <!-- First Name -->
      <div class="flex flex-column gap-2 w-full">
        <label for="firstName">First Name</label>
        <input
          pInputText
          id="firstName"
          formControlName="firstName"
          placeholder="First Name"
          [size]="20"
        />
        @if(f['firstName'].hasError('required') && (f['firstName'].touched ||
        isFormSubmitted)){
        <small class="text-red-500">This field is required</small>
        } @if(f['firstName'].hasError('minlength') && (f['firstName'].touched ||
        isFormSubmitted)){
        <small class="text-red-500"
          >This field requires a minimum of 2 characters</small
        >
        } @if(f['firstName'].hasError('maxlength') && (f['firstName'].touched ||
        isFormSubmitted)){
        <small class="text-red-500"
          >This field has a maximum length of 20 characters</small
        >
        }
      </div>

      <!-- Last Name -->
      <div class="flex flex-column gap-2 w-full">
        <label for="lastName">Last Name</label>
        <input
          pInputText
          id="lastName"
          formControlName="lastName"
          placeholder="Last Name"
          [size]="20"
        />
        @if(f['lastName'].hasError('required') && (f['lastName'].touched ||
        isFormSubmitted)){
        <small class="text-red-500">This field is required</small>
        } @if(f['lastName'].hasError('minlength') && (f['lastName'].touched ||
        isFormSubmitted)){
        <small class="text-red-500"
          >This field requires a minimum of 2 characters</small
        >
        } @if(f['lastName'].hasError('maxlength') && (f['lastName'].touched ||
        isFormSubmitted)){
        <small class="text-red-500"
          >This field has a maximum length of 20 characters</small
        >
        }
      </div>

      <!-- ID Number -->
      <div class="flex flex-column gap-2 w-full">
        <label for="idNumber">ID Number</label>
        <p-inputMask
          mask="99-9999999-a-99"
          placeholder="00-0000000-A-00"
          id="idNumber"
          formControlName="idNumber"
          styleClass="w-full"
        ></p-inputMask>
        @if(f['idNumber'].hasError('required') && (f['idNumber'].touched ||
        isFormSubmitted)){
        <small class="text-red-500">This field is required</small>
        }
      </div>

      <!-- Date of Birth -->
      <div class="flex flex-column gap-2 w-full">
        <label for="dob">Date of Birth</label>

        <p-calendar
          id="dob"
          formControlName="dob"
          [showIcon]="true"
          [readonlyInput]="false"
          [monthNavigator]="true"
          [yearNavigator]="true"
          styleClass="w-full"
          [appendTo]="'body'"
          dateFormat="dd-mm-yy"
          [placeholder]="'DD-MM-YYYY'"
        ></p-calendar>
      </div>

      <!-- Phone Number -->
      <div class="flex flex-column gap-2 w-full">
        <label for="phoneNumber">Phone Number</label>
        <p-inputGroup styleClass="w-full">
          <p-inputGroupAddon>+263</p-inputGroupAddon>
          <p-inputMask
            mask="99999999?9"
            id="phoneNumber"
            formControlName="phoneNumber"
            styleClass="w-full"
          ></p-inputMask>
        </p-inputGroup>

        @if(f['phoneNumber'].hasError('required') && (f['phoneNumber'].touched
        || isFormSubmitted)){
        <small class="text-red-500">This field is required</small>
        }
      </div>

      <p-button
        submit
        [loading]="updatingPatient"
        label="Submit"
        (click)="updatePatient()"
      ></p-button>
    </form>
    }

    <!-- Part 2: Upload ID Document -->
    @if(patient?.account?.activationStep === 2){
    <h4>Upload ID Document</h4>

    <div class="flex flex-column gap-2 w-full">
      <label for="idImage">ID Image</label>
      <p-fileUpload
        id="idImage"
        name="idImage"
        url="https://primefaces.org/primeng"
        [auto]="false"
        [maxFileSize]="3000000"
        [invalidFileSizeMessageSummary]="'File Size Exceeded'"
        [invalidFileSizeMessageDetail]="
          'The size of the file is too large. Please upload files less than 3 MB..'
        "
        [invalidFileTypeMessageSummary]="'File Type Incorrect'"
        [invalidFileTypeMessageDetail]="
          'The file uploaded is the wrong format. Please upload a jpeg, pdf or heic file format only.'
        "
        [fileLimit]="1"
        [customUpload]="true"
        (uploadHandler)="onUpload($event)"
        accept="image/jpeg, image/heic, image/pdf"
      ></p-fileUpload>
    </div>
    }
  </div>
  }

  <!-- Other dashboard content -->

  @if(patient?.account?.verified){
  <!-- <div class="border-1 border-round surface-border surface-card p-5 lg:w-6 sm:w-full">
      <h4>Appointments</h4>
      <p class="text-sm">
        View your upcoming appointments and schedule new appointments.
      </p>
      <p-button label="View Appointments" (click)="goToAppointments()"></p-button>
    </div> -->
  }
</div>
} @else if (patient!.account!.activationStep === 3){
<div class="flex flex-column gap-2 p-5">
  <p class="font-semibold text-xl text-gray-500 mb-8">
    Welcome to Your Dashboard {{ patient?.email }}
  </p>
  <div class="border-1 border-round surface-border surface-card p-5">
    <h4 class="text-lg text-gray-500">Account Activation</h4>
    <p class="text-base text-gray-500">
      Thank you for completing the verification process.
    </p>
    <p class="text-base text-gray-500">
      The details you provided are under review. You will be notified by email
      once your account is activated.
    </p>
  </div>
</div>
}

<!-- Dialogs -->
<p-dialog
  [(visible)]="resendEmailDialogVisible"
  [blockScroll]="true"
  header="Resend Verification"
  [modal]="true"
>
  <ng-template pTemplate="content">
    <p>Didn't get an email?</p>
    <p>Did you enter the correct email address?</p>
    <p>Please check your spam folder</p>
  </ng-template>
  <ng-template pTemplate="footer">
    <div class="flex justify-content-center">
      <p-button
        label="Dismiss"
        (click)="closeResendEmailDialog()"
        severity="danger"
      ></p-button>
      <p-button
        label="Resend"
        (click)="resendVerificationEmail()"
        severity="success"
      ></p-button>
    </div>
  </ng-template>
</p-dialog>
