<div [@routerTransitionSlideRight] class="flex flex-column gap-2 py-5 px-3">
  <p class="font-semibold mb-8">
    Welcome to Your Dashboard {{ patient?.email }}
  </p>

  <!-- Steps -->
  <div class="border-1 border-round border-gray-300 p-5">
    <p-toast></p-toast>
    <p-steps [model]="items" [(activeIndex)]="activeIndex"> </p-steps>
  </div>

  <div class="border-1 border-round border-gray-300 p-5">
    <!-- Verification Status -->
    <h4 class="alert-heading">Email Verification Status</h4>
    <p>
      Your email address is <strong>{{ verificationStatus }}</strong
      >.
    </p>
    @if(verificationStatus === 'Not Verified'){
    <p>
      An email has been sent to your email address. Please verify your email
      address to continue.
    </p>
    <p>
      If you did not receive the email, click the button below to resend the
      email.
    </p>

    @if(!loading){
    <p-button label="Resend Email" (click)="openResendEmailDialog()"></p-button>

    } @if(loading){
    <div class="flex gap-2 align-items-center">
      <div class="font-semibold">Sending email...</div>
      <p-progressSpinner
        styleClass="w-2rem h-2rem"
        strokeWidth="6"
      ></p-progressSpinner>
    </div>

    } }
  </div>

  <!-- Other dashboard content -->

  <div class="border-1 border-round border-gray-300 p-5 lg:w-6 sm:w-full">
    <h5 class="card-title">Appointments</h5>
    <p class="card-text">
      View your upcoming appointments and schedule new appointments.
    </p>
    <p-button label="View Appointments" (click)="goToAppointments()"></p-button>
  </div>
</div>

<!-- Dialogs -->
<p-dialog
  [(visible)]="resendEmailDialogVisible"
  [blockScroll]="true"
  header="Resend Verification"
  [modal]="true"
>
  <ng-template pTemplate="content">
    <p>Didn't get an email?</p>
    <p>Did you enter the correct email address?</p>
    <p>Please check your spam folder</p>
  </ng-template>
  <ng-template pTemplate="footer">
    <div class="flex justify-content-center">
      <p-button
        label="Dismiss"
        (click)="closeResendEmailDialog()"
        severity="danger"
      ></p-button>
      <p-button
        label="Resend"
        (click)="resendVerificationEmail()"
        severity="success"
      ></p-button>
    </div>
  </ng-template>
</p-dialog>
