<div [@routerTransitionSlideRight] class="flex flex-column gap-2 py-5 px-3">
  <p class="font-semibold mb-8">
    Welcome to Your Dashboard {{ patient?.email }}
  </p>

  <!-- Steps -->
  <p class="text-sm">
    Complete the verification wizard to activate your account and make
    appointments.
  </p>

  <div class="border-1 border-round border-gray-300 p-5">
    <p-toast></p-toast>
    <p-steps [model]="items" [readonly]="true" [(activeIndex)]="activeIndex">
    </p-steps>
  </div>

  <!-- Step 1: Email Verification -->
  @if(activeIndex === 0) {
  <div class="border-1 border-round border-gray-300 p-5">
    <!-- Verification Status -->
    <h4>Email Verification Status</h4>

    <p class="text-sm">
      Your email address is <strong>{{ verificationStatus }}</strong
      >.
    </p>
    @if(!patient?.account?.verified){
    <p class="text-sm">
      An email has been sent to your email address. Please verify your email
      address to continue.
    </p>
    <p class="text-sm">
      If you did not receive the email, click the button below to resend the
      email.
    </p>

    @if(!loading){
    <p-button label="Resend Email" (click)="openResendEmailDialog()"></p-button>

    } @if(loading){
    <div class="flex gap-2 align-items-center">
      <div class="font-semibold">Sending email...</div>
      <p-progressSpinner
        styleClass="w-2rem h-2rem"
        strokeWidth="6"
      ></p-progressSpinner>
    </div>

    } } @if( patient?.account?.verified){
    <p class="text-sm">You can now proceed to the next step.</p>

    } @if(patient?.account?.verified){
    <div class="flex justify-content-end">
      <p-button
        icon="pi pi-chevron-right"
        iconPos="right"
        label="Next"
        (click)="next()"
      ></p-button>
    </div>
    }
  </div>
  }

  <!-- Step 2: ID Verification -->
  @if(activeIndex === 1) {
  <div class="border-1 border-round border-gray-300 p-5">
    <h4>ID Verification Status</h4>
    <form [formGroup]="patientIdForm"></form>
  </div>
  }

  <!-- Other dashboard content -->

  @if(patient?.account?.verified){
  <div class="border-1 border-round border-gray-300 p-5 lg:w-6 sm:w-full">
    <h4>Appointments</h4>
    <p class="text-sm">
      View your upcoming appointments and schedule new appointments.
    </p>
    <p-button label="View Appointments" (click)="goToAppointments()"></p-button>
  </div>
  }
</div>

<!-- Dialogs -->
<p-dialog
  [(visible)]="resendEmailDialogVisible"
  [blockScroll]="true"
  header="Resend Verification"
  [modal]="true"
>
  <ng-template pTemplate="content">
    <p>Didn't get an email?</p>
    <p>Did you enter the correct email address?</p>
    <p>Please check your spam folder</p>
  </ng-template>
  <ng-template pTemplate="footer">
    <div class="flex justify-content-center">
      <p-button
        label="Dismiss"
        (click)="closeResendEmailDialog()"
        severity="danger"
      ></p-button>
      <p-button
        label="Resend"
        (click)="resendVerificationEmail()"
        severity="success"
      ></p-button>
    </div>
  </ng-template>
</p-dialog>
