<div
  [@routerTransitionSlideUp]
  class="bg-primary-50 flex flex-column min-h-screen w-full"
>
  <p-toast position="top-right" [baseZIndex]="9000"></p-toast>

  <div class="flex justify-content-center align-items-center mt-8 w-full">
    <img src="assets/images/hah-logo.svg" alt="" class="w-12rem" />
  </div>

  <div
    class="flex align-items-center flex-column justify-content-center w-full mt-4"
  >
    <form
      [formGroup]="registerForm"
      (submit)="onSubmit()"
      class="flex flex-column gap-3 lg:w-6 md:w-6 sm:w-9 w-9"
    >
      <h5 class="text-xl font-semibold mb-3">Patient Signup</h5>

      <!-- Email -->
      <div class="flex flex-column gap-2">
        <label for="email">Email</label>
        <input
          pInputText
          id="email"
          formControlName="email"
          placeholder="johndoe@gmail.com"
        />
        @if(f['email'].hasError('required') && (f['email'].touched ||
        isFormSubmitted)){
        <small class="text-red-500">This field is required</small>
        } @else if ((f['email'].hasError('email') ||
        f['email'].hasError('policy')) && (f['email'].touched ||
        isFormSubmitted)){
        <small class="text-red-500">Please enter valid email address</small>
        } @else if (patientEmailExists){
        <small class="text-red-500">Email address already in use.</small>
        <small class="text-red-500">Please try to Log in</small>
        <div class="flex gap-2">
          <p-button
            label="Login"
            type="button"
            class="btn btn-primary"
            (click)="goToLogin()"
            severity="primary"
          >
          </p-button>
          <p-button
            label="Cancel"
            type="button"
            class="btn btn-danger"
            (click)="resetEmail()"
            severity="danger"
          >
          </p-button>
        </div>

        <!-- Confirm Dialog -->
        <p-confirmDialog
          header="Confirmation"
          icon="pi pi-exclamation-triangle"
        >
        </p-confirmDialog>

        }
      </div>

      <!-- Password -->
      <div class="flex flex-column gap-2">
        <label for="password">Password</label>
        <input
          type="password"
          pInputText
          id="password"
          formControlName="password"
          placeholder="Password"
        />
        @if (f['password'].hasError('required') && (f['password'].touched ||
        isFormSubmitted)){
        <small class="text-red-500">This field is required</small>
        } @else if (f['password'].hasError('policy') && (f['password'].touched
        || isFormSubmitted)){
        <small class="text-red-500">
          Password must contain at least 10 characters.
        </small>
        <small class="text-red-500">
          Including lowercases, UPPERCASEs, numbers and special characters.
          {{ passwordSymbols }}
        </small>
        }
      </div>

      <!-- Checkbox -->
      <!-- <div class="flex flex-column gap-2">
        <p-checkbox
          type="checkbox"
          formControlName="terms"
          inputId="terms"
          value="terms"
        ></p-checkbox>
        <label for="terms"
          >I agree to the
          <a routerLink="/terms" class="btn-link" target="_blank"
            >terms and conditions</a
          ></label
        >
        @if (f['terms'].hasError('required') && (f['terms'].touched ||
        isFormSubmitted)){
        <small class="text-red-500">
          Please agree on Terms & Conditions to continue
        </small>
        }
      </div> -->

      <div class="flex gap-2">
        <input
          type="checkbox"
          formControlName="terms"
          class="form-check-input"
          id="terms"
        />
        <label class="form-check-label" for="terms"
          >I agree to the
          <a routerLink="/terms" class="btn-link" target="_blank"
            >terms and conditions</a
          ></label
        >
      </div>
      @if (f['terms'].hasError('required') && (f['terms'].touched ||
      isFormSubmitted)){
      <small class="text-red-500">
        Please agree on Terms & Conditions to continue
      </small>
      }

      <!-- Login Button -->
      <p-button
        type="submit"
        label="Sign Up"
        [styleClass]="'sm: w-full'"
      ></p-button>

      <p-button
        label="Already have an account? Login"
        [link]="true"
        class="text-center"
        (click)="goToLogin()"
      ></p-button>
    </form>
  </div>
</div>
