<div
  [@routerTransitionSlideUp]
  class="bg-primary-50 flex flex-column min-h-screen w-full"
>
  <p-toast position="top-right" [baseZIndex]="9000"></p-toast>

  <div class="flex justify-content-center align-items-center mt-8 w-full">
    <img src="assets/images/hah-logo.svg" alt="" class="w-12rem" />
  </div>

  <div
    class="flex align-items-center flex-column justify-content-center w-full mt-4"
  >
    <form
      [formGroup]="registerForm"
      (submit)="onSubmit()"
      class="flex flex-column gap-3 lg:w-6 md:w-6 sm:w-9 w-9"
    >
      <h5 class="text-xl font-semibold mb-3">Patient Signup</h5>

      <!-- Email -->
      <div class="flex flex-column gap-2">
        <label for="email">Email</label>
        <input
          pInputText
          id="email"
          formControlName="email"
          placeholder="johndoe@gmail.com"
        />
        @if(f['email'].hasError('required') && (f['email'].touched ||
        isFormSubmitted)){
        <small class="text-red-500">This field is required</small>
        } @else if ((f['email'].hasError('email') ||
        f['email'].hasError('policy')) && (f['email'].touched ||
        isFormSubmitted)){
        <small class="text-red-500">Please enter valid email address</small>
        }
      </div>

      <!-- Password -->
      <div class="flex flex-column gap-2">
        <label for="password">Password</label>
        <input
          type="password"
          pInputText
          id="password"
          formControlName="password"
          placeholder="Password"
        />
        @if (f['password'].hasError('required') && (f['password'].touched ||
        isFormSubmitted)){
        <small class="text-red-500">This field is required</small>
        } @else if (f['password'].hasError('policy') && (f['password'].touched
        || isFormSubmitted)){
        <small class="text-red-500">
          Password must contain at least 10 characters.
        </small>
        <small class="text-red-500">
          Including lowercases, UPPERCASEs, numbers and special characters.
          {{ passwordSymbols }}
        </small>
        }
      </div>

      <!-- Select Country -->
      <div class="flex flex-column gap-2">
        <label for="country">Country</label>
        <p-dropdown
          [options]="countries"
          formControlName="selectedCountry"
          optionLabel="name"
          optionValue="code"
          placeholder="Select a Country"
        ></p-dropdown>
        @if (f['selectedCountry'].hasError('required') &&
        (f['selectedCountry'].touched || isFormSubmitted)){
        <small class="text-red-500">This field is required</small>
        }
      </div>

      <!-- Terms and Conditions -->
      <div class="flex flex-column gap-2">
        <div class="flex gap-2 align-items-center">
          <p-checkbox
            formControlName="terms"
            inputId="terms"
            [binary]="true"
          ></p-checkbox>
          <label for="terms"
            >I agree to the
            <a routerLink="/terms" class="btn-link" target="_blank"
              >terms and conditions</a
            ></label
          >
        </div>
        @if (f['terms'].hasError('required') && (f['terms'].touched ||
        isFormSubmitted)){
        <small class="text-red-500">
          Please agree on Terms & Conditions to continue
        </small>
        }
      </div>

      <!-- Login Button -->
      <p-button
        type="submit"
        label="Sign Up"
        [styleClass]="'sm: w-full mt-4'"
      ></p-button>

      <p-button
        label="Already have an account? Login"
        [link]="true"
        class="text-center"
        (click)="goToLogin()"
      ></p-button>
    </form>
  </div>
</div>

<!-- Confirm Dialog -->
<!-- <p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle">
</p-confirmDialog> -->
<p-confirmDialog #cd>
  <ng-template pTemplate="headless" let-message>
    <div
      class="flex flex-column align-items-center p-5 surface-overlay border-round"
    >
      <div
        class="border-circle bg-primary inline-flex justify-content-center align-items-center h-6rem w-6rem -mt-8"
      >
        <i class="pi pi-question text-5xl"></i>
      </div>
      <span class="font-bold text-2xl block mb-2 mt-4">{{
        message.header
      }}</span>
      <p class="mb-0">{{ message.message }}</p>
      <div class="flex align-items-center gap-2 mt-4">
        <p-button label="Login" (click)="cd.accept()" severity=""> </p-button>
        <p-button label="Cancel" (click)="cd.reject()" severity="danger">
        </p-button>
      </div>
    </div>
  </ng-template>
</p-confirmDialog>

<p-dialog
  header="Country not available"
  [(visible)]="countryDialogVisible"
  [modal]="true"
>
  <ng-template pTemplate>
    <div class="flex flex-column gap-2">
      <p>{{ countryDialogMessage }}</p>
      <div class="flex align-items-center justify-content-center gap-2">
        <p-button
          type="button"
          label="Got it"
          (click)="hideCountryDialog()"
        ></p-button>
      </div>
    </div>
  </ng-template>
</p-dialog>
