<div
  [@routerTransitionSlideUp]
  class="min-h-screen w-full bg-primary-50 p-5 flex flex-column gap-25"
>
  <h1 class="text-center mb-4">Terms and Conditions</h1>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ullamcorper
    justo sit amet tortor mattis, nec malesuada turpis convallis. Nullam lacinia
    libero ac leo vestibulum luctus. Nullam consectetur sagittis purus ut
    lacinia. Nulla in justo vestibulum, condimentum nunc id, commodo neque. Cras
    eget magna id mauris sollicitudin feugiat. Nullam non placerat magna. Morbi
    eget aliquam turpis. Aliquam placerat sit amet magna at iaculis.
  </p>
  <p>
    Sed lobortis, metus eu dignissim dictum, nibh ipsum eleifend turpis, a
    lobortis elit felis id mi. Nulla facilisi. Phasellus quis semper mauris.
    Phasellus nec fermentum lorem. Curabitur et massa euismod, ullamcorper nisi
    id, sagittis nunc. Aenean dapibus feugiat nisl, et vehicula lacus
    pellentesque at. Mauris nec erat ultricies, tincidunt justo eu, vestibulum
    mauris. Suspendisse nec lectus at arcu vestibulum tincidunt nec nec nulla.
    In tristique, felis in tincidunt pharetra, metus lorem auctor nisi, ut
    consequat leo ipsum in quam. Integer consectetur consequat turpis, eu
    bibendum sapien hendrerit vel. Fusce sodales dictum dolor ac rhoncus. Duis
    vitae pharetra libero. Praesent sed nisi ac justo egestas aliquet sit amet
    ac sapien. Maecenas in leo in odio aliquet commodo.
  </p>
  <p>
    Quisque vestibulum metus a dui convallis tincidunt. Curabitur aliquet justo
    ac quam suscipit, vel gravida purus consequat. Vestibulum dignissim tortor
    vel risus suscipit, in dignissim risus malesuada. Vivamus vitae libero
    mauris. Integer et posuere velit. Aliquam volutpat nulla ac ante tempor, vel
    tristique orci lacinia. Sed in convallis velit, vel fringilla lorem. Ut
    luctus laoreet leo, eu rutrum elit gravida eget. Vestibulum in purus
    consequat, finibus purus ac, commodo lacus. Vivamus vestibulum eget urna ut
    condimentum.
  </p>
</div>
