<p-toast position="top-right" [baseZIndex]="9000"></p-toast>

<div
  class="bg-primary-100 flex flex-column gap-5 align-items-center justify-content-center min-h-screen min-w-screen p-5"
>
  <div [@routerTransitionSlideUp] class="flex flex-column gap-3 w-full md:w-4">
    <h1 class="text-3xl font-bold text-primary-900">Forgot Password</h1>
    <p class="text-primary-700">
      Enter your email address and we'll send you a link to reset your password
    </p>
    <form [formGroup]="forgotPasswordForm">
      <div class="flex flex-column gap-3">
        <input
          pInputText
          formControlName="email"
          type="email"
          label="Email"
          placeholder="john.doe@gmail.com"
        />
        @if(f['email'].hasError('required') && ((f['email'].dirty ||
        f['email'].touched) || isFormSubmitted)) {
        <small class="text-red-500">Email is required</small>
        }
        <button
          pButton
          type="submit"
          label="Send Reset Link"
          class="w-full"
          [disabled]="forgotPasswordForm.invalid"
          (click)="onSubmit()"
        ></button>

        <p-button
          [link]="true"
          label="Return to Login"
          (click)="returnToLogin()"
          class="text-center"
        ></p-button>
      </div>
    </form>
  </div>
</div>
