.form-label {
  color: var(--Neutral-Gray-600, #475569);

  /* Paragraph/P1 / Regular */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  text-transform: capitalize;
  /* 121.429% */
}

.form-control {
  margin-top: 7px;
  border-radius: 8px;
  border: 1px solid var(--Neutral-Gray-300, #CBD5E1);
  background: var(--Shades-White, #FFF);
  padding: 14px 16px;

  color: var(--Neutral-Gray-400, #94A3B8);

  /* Paragraph/P1 / Regular */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  /* 121.429% */
}

/* Large form control */
.form-control-lg {
  border-radius: 8px;
  border: 1px solid var(--Neutral-Gray-300, #CBD5E1);
  background: var(--Shades-White, #FFF);
  padding: 14px 16px;

  color: var(--Neutral-Gray-400, #94A3B8);

  /* Paragraph / P2 / Regular */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 150% */
}

/* Small form control */
.form-control-sm {
  border-radius: 8px;
  border: 1px solid var(--Neutral-Gray-300, #CBD5E1);
  background: var(--Shades-White, #FFF);
  padding: 10px 16px;

  color: var(--Neutral-Gray-400, #94A3B8);

  /* Paragraph/P1 / Regular */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  /* 121.429% */
}

/* Error state */
.form-control-error {
  border-radius: 8px;
  border: 1px solid var(--Error-Red-500, #EF4444);
  background: var(--Shades-White, #FFF);
}

/* Disabled state */
.form-control:disabled,
.form-control-lg:disabled,
.form-control-sm:disabled,
.form-control-error:disabled {
  border-radius: 8px;
  border: 1px solid var(--Neutral-Gray-300, #CBD5E1);
  background: var(--Neutral-Gray-100, #F1F5F9);
  cursor: not-allowed;

  color: var(--Neutral-Gray-400, #94A3B8);


}

/* Active state */
input.form-control:focus,
input.form-control-lg:focus,
input.form-control-sm:focus,
input.form-control-error:focus {
  border-radius: 8px;
  background-color: var(--Shades-White, #FFF);
  outline: 2px solid var(--Primary-Turquoise-100, #D3E3E9) !important;
  color: var(--Neutral-Gray-800, #1E293B);


}

.error-message {
  color: var(--Error-Red-500, #EF4444);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  /* 150% */
}

.input-caption {
  color: var(--Neutral-Gray-500, #64748B);

  /* Caption / Regular */
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  /* 150% */
}
